.modal-info {
  max-width: 476px;
  padding: 54px 26px 24px 42px;
  margin-top: 57px;
}

.modal-info-pl-7 {
  padding-left: 13px;
}

@media screen and (max-width: 768px) {
  .modal-info {
    width: 85%;
    padding: 54px 16px 24px 12px;
    margin-top: 57px;
  }
}