@tailwind preflight;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Roboto';
  font-style: normal;
}

.cursor-pointer {
  cursor: pointer;
}

.modal-bg {
  background: rgba(243, 243, 243, 0.89);
}
.modal-body {
  background: rgba(243, 243, 243, 0.89);
  border: 1px solid #000000;
  border-radius: 15px;
}

.dark .modal-body {
  background: rgba(243, 243, 243, 0.89);
  border: 1px solid #939B9F;
  border-radius: 15px;
}


p {
  font-size: 19px;
}

.button-custom {
  width: 256px;
  height: 44px;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  border-radius: 5px;
  border: 0px;
}

.button-cutom-bg-green {
  background: #66A060;
}

.dark body {
  background-color: #262B3C;
}
