.modal-stadistics {
  width: 373px;
  height: 372px;
  padding: 59px 93px 24px 78px;
}

.modal-info-pl-7 {
  padding-left: 13px;
}

@media screen and (max-width: 768px) {
  .modal-stadistics {
    width: 85%;
    padding: 59px 23px 24px 28px;
  }
}