.header {
  width: 638px;
  height: 84px;

  background: #F3F3F3;
  border-radius: 15px;
  padding: 0px 22px;
}

.header-title {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 47px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.075em;

  color: #202537;
}

.header-img-stadistics {
  padding-right: 11.45px;
}

@media screen and (max-width: 768px) {
  .header {
    width: 88%;
  }
}