.keyboard {
  padding: 33px 37.2px 33.95px 20px;
  background: rgba(218, 220, 224, 0.3);
  border-radius: 15px;
}

.keyboard-row {
  gap: 9.57px;
  margin-bottom: 8.95px;

}

.keyboard-box-s h2,.keyboard-box-lg h2{
  color: #56575E;
}

.keyboard-box-s {
  width: 44.67px;
  height: 51.05px;
  font-size: 18px;
}

.keyboard-box-lg {
  width: 78.78px;
  height: 51.05px;
  font-size: 15px;
}

.keyboard-row-pl-30 {
  padding-left: 30px;
}

.keyboard-row-pl-50 {
  padding-left: 50px;
}

.dark .keyboard .box {
  background-color: #565F7E;
}

.keyboard .box h2  {
  font-weight: 300;
}


@media screen and (max-width: 768px) {
  .keyboard-box-s {
    width: 25px;
    height: 25px;
    font-size: 18px;
  }
  .keyboard-box-lg {
    width: 58.78px;
    height: 25px;
    font-size: 11px;
  }
}