.box {
  width: 76px;
  height: 76px;
  border-radius: 5px;
  background: rgba(147, 155, 159, 0.3);
}

.play-row-word {
  gap: 11px;
  margin-bottom: 11px;
}

.bg-green {
  background: #66A060 !important;
}

.bg-yellow {
  background: #CEB02C !important;
}

.bg-gray {
  background: #939B9F !important;
}

@media screen and (max-width: 768px) {
  .box {
    width: 56px;
    height: 56px;
  }
}